p {
    color:wheat;
    margin-top: 15%;
    font-size: 15px;
}

* {
    text-align:center;
}

.laatikko {
    border-style: solid;
    border-width: 10px;
}

.first-box {
    width: 200px;
    height: 100px;
    background-color:darkgreen;
    position: absolute;
    text-transform: uppercase;
    border-color: chocolate;
}

.second-box {
    width: 200px;
    height: 100px;
    background-color:darkred;
    left: 250px;
    position: absolute;
    text-transform: uppercase;
    border-color: darkmagenta;
}

.third-box {
    width: 200px;
    height: 100px;
    background-color:darkorange;
    position:absolute;
    left: 500px;
    text-transform: uppercase;
    border-color: darkgreen;
}