ul {
    color:palevioletred;
}

* {
    color:darkred;
}

img {
    margin-top: 2em;
}

h1 {
    color:darkred;
    margin-top: 1em;
    padding-top: 1em;
}

h4 {
    margin-top: 3em;
}

#jatkuu {
    color:darkred;
}
body {
    margin: 0 auto;
    max-width: 35em;
    line-height: 1.5;
    padding: 3em 1em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}